<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" >
    </head>

    <body>
       <div class="main-content">
            {{>headers}}
        <p>contact to {{contact}} </p>
       </div>
          {{>footer}}
    </body>
 
</html>
  