<html>
<head>
    <title>{{title}}</title>
    <link rel='icon' href="">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
   <div class="main-content">
        {{>headers}}
        <form>
        <input placeholder="location">
        <button>search</button>
        </form>
    <h1>this is index page creted by {{name}}</h1>
    <p>this is for the css reference</p>
    
    <p id='mesg-1'></p>
    <p id='mesg-2'></p>
     


   </div>
     {{>footer}}
     <script type="text/javascript" src="app.js"></script>
</body>
</html>