<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../public/style.css">
    </head>
    <body>
      {{>headers}}
      <p>{{errormesg}}</p>
        <a href="./">click here to go to home page</a>
        {{>footer}}
     
    </body>

</html>